includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    bootstrapFiles:
        - tools/phpstan-bootstrap.php
    paths:
        - functions.php
        - front-page.php
        - page.php
        - index.php
        - woocommerce.php
        - home.php
        - single.php
        - 404.php
        - inc
        - src
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
